.swiper-button-next {
  right: 45px;
}
.swiper-button-prev {
  left: 45px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: var(--chakra-colors-yellow-400);
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: var(--chakra-colors-gray-500);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--chakra-colors-yellow-400);
}

@media (max-width: 30em) {
  .swiper-button-next {
    right: 15px;
  }
  .swiper-button-prev {
    left: 15px;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1.2rem;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}
